# Python bytecode (кэш компиляции)
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
env/
.env

# Файлы настроек IDE
.vscode/
.idea/

# Локальные конфиги и временные медиа-файлы проекта
config.json
raw_*.mp4
video_temp.mp4
video_temp_*.mp4
*_fixed.mp4
*.part
*.log

# Результаты сборки (если будешь упаковывать в .exe)
dist/
build/
*.spec
config.json
chromewebstore.google.com_cookies.txt
config.json
